<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">

    <title>Thing</title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>

    <h1>Testing</h1>

</body>

<script src="{% static 'js/autobahn.js' %}"></script>
<script src="{% static 'js/ractive.js' %}"></script>
<script src="{% static 'js/adapter.js' %}"></script>
<script src="{% static 'js/reconnecting_websocket.js' %}"></script>

<script type="text/javascript">

var Socket = {

    ini: false,
    connection: null,

    initialize: function () {
        var self = this;

        this.connection = new ReconnectingWebSocket('wss://' + document.location.host + ':8080');

        this.connection.onopen = function () {
            self.ini = true;
        };

        this.connection.onmessage = function (event) {
            console.log(event);
        };
    },

    send: function (data) {
        if (this.ini) {
            this.connection.send(JSON.stringify(data));
        }
    },

    subscribe: function (what, data) {
        if (this.ini) {
            data.sub = what;
            this.connection.send(JSON.stringify(data));
        }
    }
}

Socket.initialize();

</script>
