<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">

    <title>Thing</title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>

    <h1>Testing</h1>

    <input id="testfile" type="file" name="file" />

</body>

<script src="{% static 'js/autobahn.js' %}"></script>
<script src="{% static 'js/ractive.js' %}"></script>
<script src="{% static 'js/adapter.js' %}"></script>
<script src="{% static 'js/reconnecting_websocket.js' %}"></script>

<script type="text/javascript">

var noop = function () { console.info("SOME ERROR"); };


var SignalServer = {

    ini: false,
    connection: null,

    initialize: function () {
        var self = this;

        this.connection = new ReconnectingWebSocket('wss://' + document.location.host + ':8080');

        this.connection.onopen = function () {
            self.ini = true;
            console.log("Connection to signal server open");
            RTC.initialize();
        };

        this.connection.onmessage = function (event) {

            var data = JSON.parse(event.data);

            switch (data.type) {

                // got an offer from a remote peer
                case 'offer':
                    RTC.gotOffer(data);
                    break;

                // an answer from a remote client
                case 'answer':
                    RTC.gotAnswer(data);
                    break;

                // add remote ICE candidate
                case 'ice':
                    RTC.gotIce(data);
                    break;

                // get a list of peers to negotiate a connection with
                case 'peers':
                    RTC.negotiate(data.peers);
                    break;

                default:
                    console.info("unhandled message", event);
                    break;
            }

        };
    },

    send: function (method, data) {
        if (this.ini) {
            if (!data) {
                data = {};
            }
            data.method = method;
            this.connection.send(JSON.stringify(data));
        }
    },

    subscribe: function (to, bool) {
        if (this.ini) {
            this.connection.send(JSON.stringify({
                to: to,
                bool: bool
            }));
        }
    }
};


var RTC = {

    config: {
        iceServers: [{
            urls: 'stun:stun.l.google.com:19302'
        }]
    },

    peers: {},

    negotiate: function (peerList) {
        // create an offer and retrieve ICE info, and send them to all currently connected peers
        var funcs = [];
        var self = this;

        for (var i = 0; i < peerList.length; i++) {

            var n = function (pid) {
                var newPeer = {
                    connection: new RTCPeerConnection(self.config),
                };

                newPeer.channel = newPeer.connection.createDataChannel('dataChannel', {
                    reliable: false
                });

                newPeer.channel.onopen = function (event) {
                    console.info("Local data channel to " + pid + " has been opened");

                    setInterval(function () {
                        newPeer.channel.send("test");
                    }, 1000);
                };

                newPeer.channel.onmessage = function (message) {
                    console.info("Got message from " + pid + ": " + message);
                };

                newPeer.channel.onclose = function (event) {
                    console.info("Data channel to " + pid + " has been closed");
                };

                console.info("SENDING TO: " + pid);

                newPeer.connection.createOffer().then(function (offer) {
                    newPeer.connection.setLocalDescription(offer);
                    SignalServer.send('offer', {
                        to: pid,
                        offer: offer
                    });
                });

                self.peers[pid] = newPeer;
            };

            funcs.push(n);
        }

        for (var i = 0; i < peerList.length; i++) {
            funcs[i](peerList[i]);
        }
    },

    gotOffer: function (info) {
        console.info("GOT OFFER: ", info);
        if (!this.peers[info.from]) {
            var newPeer = {
                connection: new RTCPeerConnection(this.config)
            };

            this.peers[info.from] = newPeer;
        }

        var peer = this.peers[info.from];

        peer.connection.onicecandidate = function (ice) {
            if (ice.candidate) {
                SignalServer.send('ice', {
                    to: info.from,
                    ice: ice.candidate
                });
            }
        };

        peer.connection.ondatachannel = function (event) {
            console.info("OPENED UP DATA CHANNEL (ANSWERER)");
            peer.channel = event.channel;
            peer.channel.onmessage = function (message) {
                console.info("Got message from " + info.from + ": " + message);
            };
            peer.channel.onopen = function (event) {
                console.info("Data channel opened: " + event);
                setInterval(function () {
                    peer.channel.send("test");
                }, 1000);
            };
            peer.channel.onclose = function (event) {
                console.info("Data channel closed: " + event);
            };
        }

        peer.connection.setRemoteDescription(info.offer);

        peer.connection.createAnswer().then(function (answer) {
            console.info("CREATED ANSWER", answer);
            peer.connection.setLocalDescription(answer);
            SignalServer.send('answer', {
                to: info.from,
                answer: answer
            });
        });
    },

    gotAnswer: function (info) {
        console.info("GOT ANSWER", info);
        this.peers[info.from].connection.setRemoteDescription(info.answer);
    },

    gotIce: function (info) {
        console.info("GOT ICE", info);
        var candidate = new RTCIceCandidate(info.ice);
        this.peers[info.from].connection.addIceCandidate(candidate);
    },

    initialize: function () {
        SignalServer.send('getPeers');
    }
}

SignalServer.initialize();

</script>
